:root {
	--ome-background-color: #6F1459;
	--ome-detail-color: #580F45;
	--ome-detail-color-alt: #8D4279;
	--ome-detail-color-dark: #4A0C39;
	--ome-border-color: #5E184B;
	--ome-text-color: #E4D09B;
	--ome-text-color-dark: #D2AC41;
	--ome-nav-color: #61124C;
}
html, body {
	background-color: var(--ome-background-color);
	color: var(--ome-text-color);
	margin: 0;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 16px;
}

a {
	color: var(--ome-text-color);
}

hr {
	border-color: var(--ome-text-color);
}

p {
	text-align: justify;
}

nav > ul {
	padding: 0;
}

blockquote {
	background-color: var(--ome-detail-color);
	margin: 2em;
	margin-left: 15%;
	margin-right: 15%;
	padding: 1em;
	border: 2px solid var(--ome-border-color);
	border-radius: 6px;
	font-style: italic;
}

pre {
	background-color: var(--ome-detail-color);
	border-radius: 6px;
	text-align: left;
	margin: 2em;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%;
	counter-reset: line;
	overflow: auto;
}

code {
	counter-increment: line;
	color: var(--ome-text-color-dark);
}

pre > code:before {
	content: counter(line);
	margin-right: 5%;
	color: var(--ome-detail-color-alt);
	-webkit-user-select: none;
}

pre > code:nth-child(odd) {
	background-color: var(--ome-detail-color-dark);
}

pre > code {
	display: inline-block;
	width: 100%;
	padding-bottom: .5%;
	padding-top: 0.5%;
	white-space: pre-wrap;
}

.container {
	padding-left: 10em;
	padding-right: 10em;
	text-align: center;
}

article {
	padding-bottom: 2em;
	font-family: monospace;
}

footer {
	margin-top: 2em;
}

.footer {
	margin-left: 10em;
	margin-right: 10em;
}

#index-footer {
	font-family: monospace;
	text-align: center;
	margin-bottom: 5em;
}

nav {
	background-color: var(--ome-nav-color);
	padding: .2em;
	border-radius: 10px;
	font-family: monospace;
	margin-bottom: 1em;
}

.nav-item {
	list-style-type: none;
	display: inline-block;
}

.archive-item {
	list-style-type: none;
	text-align: center;
}

.headshot {
	width: 50%
}

.home-link {
	text-decoration: none;
}

.justified {
	text-align: justified;
}

.unordered-inline {
	text-align: left;
	list-style-type: circle;
	list-style-position: inside;
}

.ordered-inline {
	text-align: left;
	list-style-position: inside;
}

@media screen and (max-width: 800px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.headshot {
		width: 100%;
	}

	blockquote {
		margin-left: 10%;
		margin-right: 10%;
	}
	
	pre {
		margin-left: 0;
		margin-right: 0;
	}
}